# dependencies
/node_modules
/.pnpm
/.yarn

# next.js build output
/.next/
/out/
/dist/

# production
/build

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
/.vercel

# IDE
.idea
.vscode
*.swp
*.swo

.vercel
.env*
